.success, .warning, .error {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px; }

.success {
  background-color: lightgreen; }

.warning {
  background-color: orange; }

.error {
  background-color: pink; }
